.todo__alert--success {
    background: #d1e7dd;
    color: #0f5132;
    border: 1px solid #badbcc;
    padding: 15px;
}

.todo__alert--error {
    background: #f8d7da;
    color: #842029;
    border: 1px solid #f5c2c7;
    padding: 15px;
}

.todo__alert--error ul {
    margin: 0;
}

.todo__content {
    margin: 30px auto 0;
    padding: 30px 15px;
    max-width: 1230px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.form__input--text {
    width: 70%;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__button-submit {
    padding: 10px;
    width: 20%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.todo-table {
    margin: 0 auto;
    width: 70%;
    text-align: left;
}

.todo-table__inner {
    width: 100%;
}

.todo-table__row {
    border-bottom: 1px solid #ddd;
}

.todo-table__header {
    padding: 12px;
    /* width: 20%; */
    text-align: left;
    font-weight: bold;
}

.todo-table__item:first-of-type {
    padding: 12px;
    width: 90%;
}

.update-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.update-form__item {
    width: 80%;
    line-height: 50%;
}

.update-form__item-input {
    width: 100%;
    outline: none;
    border: none;
}

.update-form__button {
    width: 60px;
}

.update-form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #0000ff;
    color: #fff;
    cursor: pointer;
}

.delete-form__button {
    width: 60px;
}

.delete-form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #ff0000;
    color: #fff;
    cursor: pointer;
}
